// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #B1B1B1;
$color-grey-ligth: #E5E5E5;
$color-navy: #4c858b;
$color-navy-dark: #215359;
$color-navy-bright:#0C2F33;
$color-red: #AE2236;
$color-red-light: #E33E54;
$color-orange: #EA6628;

// Device
$desktop-width: 1920px;
$tablet-width: 768px;
$mobile-width: 320px;
