include ../../components/social/social
include ./consultation.data.pug

section.consultation
    .consultation__title !{consultation.title} 
    .consultation__description= consultation.description  
    .consultation__social
        +social(false)
    .consultation__form
        include ../../components/form/form