.social__link {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;

  &_vk {
    mask-image: url('../../../assets/images/icons/vk.svg');
    width: 20px;
    height: 12px;
  }

  &_telegram {
    mask-image: url('../../../assets/images/icons/telegram.svg');
    width: 19px;
    height: 17px;
  }

  &_instagram {
    mask-image: url('../../../assets/images/icons/instagram.svg');
    width: 15px;
    height: 16px;
  }

  &_whatsapp {
    mask-image: url('../../../assets/images/icons/whatsapp.svg');
    width: 15px;
    height: 16px;
  }
}
