include ../../components/UI/input/input
include ../../components/UI/button/button

form.form(name='consultation')
    fieldset.form__fieldset
        .form__title Для <span>консультации</span> заполните форму!
        .form__description С Вами свяжутся в ближайшее время
        .form__content  
            +input({type:'text', placeholder: 'Ваше имя'})
            +input({type:'tel', placeholder: 'Ваш телефон'})
            +button({type:'submit', text: 'отправить', className: 'form__button_send'})
            +button({type:'submit', text: 'оставить заявку', className: 'form__button_leave'})