.form {
  box-shadow: 0 4px 50px rgb(0 0 0 / 15%);
  background: $color-white;
  width: 866px;
  height: 260px;
  padding: 57px 55px 61px 59px;

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 12px;
    text-align: left;

    & span {
      font-weight: 700;
      color: $color-orange;
    }
  }

  &__description {
    margin-bottom: 22px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }
}
