.process {
  &__title {
    margin-bottom: 50px;
  }

  &__list {
    list-style-type: none;
    counter-reset: num;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    height: 255px;

    /* column-count: 2; */
  }

  &__item {
    position: relative;
    height: 85px;
    width: 610px;
    padding-left: 70px;
    display: flex;
    align-items: center;

    &::before {
      content: counter(num);
      counter-increment: num;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 28px;
      height: 85px;
      font-weight: 700;
      font-size: 70px;
      line-height: 85px;
      color: $color-red-light;
      opacity: 0.2;
    }
  }
}
