- 
  let process = {
      title: 'Процесс выполнения монтажа',
      items: [
          'Расчёт предварительной заявки',
          'Замер объекта нашим инженером',
          'Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы ',
          'Изготовление Дымохода, покраска (если требуется)',
          'Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация',
           'Гарантийное обслуживание по соответствующем сроку'
           ]
    }