address.contacts 
    div.contacts__title Время работы
    .contacts__item
        .contacts__icon.contacts__icon_time
        .contacts__time 
            p.contacts__text.contacts__text_time 
                <span>пн-пт</span> 9:00 – 20:00 
            p.contacts__text.contacts__text_time 
                <span>сб-вс</span> 10:00 – 18:00
    .contacts__item
        .contacts__icon.contacts__icon_address
        p.contacts__text.contacts__text_address г. Санкт - Петербург ,ул. Тамбасова д.7
