include ./photos.data.pug

section.photos
    h2.photos__title= photos.title
    p.photos__text= photos.description
    ul.photos__list 
        each photo in photos.photos
            li.photos__item
                img(src=`${photo.src}` alt=`${photo.alt}` class='photos__img')