extends ../layouts/default

block variables
  title Монтаж дымоходов

block content
  .container
    h1.main__title Монтаж дымоходов
    .main__breadcrumbs
      include ../../components/breadcrumbs/breadcrumbs
      +breadcrumbs([{name: 'Главная', link: '/'}, {name: 'Монтаж дымоходов'}])
    p.main__anons В <a href="/" title="Дымоход.ру">Дымоход.ру</a>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    .main__promo
      include ../../components/promo/promo
    .main__process
      include ../../components/process/process
      +process(['Расчёт предварительной заявки', 'Замер объекта нашим инженером', 'Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы ', 'Изготовление Дымохода, покраска (если требуется)', 'Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация', 'Гарантийное обслуживание по соответствующем сроку'])
    .main__features
    .main__consultation
    .main__video
    .main__photo

