.page {
  &__breadcrumbs {
    margin-bottom: 81px;
  }

  &__title {
    margin-bottom: 41px;
  }

  &__anons {
    margin-bottom: 17px;
  }

  &__promo {
    margin-bottom: 65px;
  }

  &__process {
    margin-bottom: 88px;
  }

  &__features {
    margin-bottom: 98px;
  }

  &__consultation {
    margin-bottom: 108px;
  }

  &__video {
    margin-bottom: 99px;
  }

  &__photos {
    margin-bottom: 136px;
  }
}
