extends ../layouts/default

block variables
  - var pageTitle = "Монтаж дымоходов"
  - var pageDescription = 'Процесс монтажа дымоходов.'

block content
  .container
    h1.page__title Монтаж дымоходов
    .page__breadcrumbs
      include ../../components/breadcrumbs/breadcrumbs
    p.page__anons В <a href="/" title="Дымоход.ру">Дымоход.ру</a> вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    .page__promo
      include ../../components/promo/promo
    .page__process
      include ../../components/process/process
    .page__features
      include ../../components/features/features
    .page__consultation
      include ../../components/consultation/consultation
    .page__video
      include ../../components/video/video
    .page__photos
      include ../../components/photos/photos
