extends ../layouts/default

block variables
  title Монтаж дымоходов

block content
  .main__wrapper 
    h1.main__title Монтаж дымоходов
    .main__breadcrumbs
      include ../../components/breadcrumbs/breadcrumbs
      +breadcrumbs([{name: 'Главная', link: '/'}, {name: 'Монтаж дымоходов'}])
    p.main__anons В <a href="/" title="Дымоход.ру">Дымоход.ру</a>  вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
    .main__promo
      include ../../components/promo/promo
