.promo {
  position: relative;
  padding-top: 37px;

  @media (max-width: $max-tablet-width) {
    padding-top: 0;
  }

  &__title {
    display: inline-block;
    line-height: 60px;
    width: 629px;
    margin-bottom: 38px;

    @media (max-width: $max-tablet-width) {
      width: 500px;
      line-height: 49px;
      margin-bottom: 19px;
    }

    @media (max-width: $max-mobile-width) {
      width: 290px;
      font-size: 18px;
      line-height: 34px;
      margin-bottom: 12px;
    }

    &::before {
      display: none;
    }

    & span {
      font-weight: 800;
      font-size: 50px;
      line-height: 63px;
      color: $color-red-light;
      text-transform: uppercase;

      @media (max-width: $max-tablet-width) {
        font-size: 40px;
        line-height: 52px;
      }

      @media (max-width: $max-mobile-width) {
        font-size: 30px;
        line-height: 37px;
      }
    }
  }

  &__content {
    display: flex;
  }

  &__list {
    width: 513px;
    margin-left: 55px;

    @media (max-width: $max-tablet-width) {
      width: 100%;
    }

    @media (max-width: $max-mobile-width) {
      margin-left: 40px;
    }
  }

  &__img-wrapper {
    position: absolute;
    content: '';
    top: 35px;
    right: -161px;
    width: 766px;
    height: 573px;
    background-image: url('../images/blob_background.png');
    background-repeat: no-repeat;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &__img {
    position: absolute;
    content: '';
    top: -28px;
    left: 179px;
    width: 477px;
    height: 459px;
  }
}
