section.promo 
    h2.promo__title Lorem ipsum dolor sit amet <span>Lorem ipsum</span>
    .promo__content
        .promo__list
            include ../../components/UI/list/list
            +list([
                'Доступные цены',
                'Собственное производство Дымоходов',
                'Выполнение необходимых работ, связанных с установкой камина, печи, котла',
                'Гарантия (от трёх до десяти лет)',
                'Работаем чисто, аккуратно, убираем за собой, не сквернословим',
                'Только русские квалифицированные специалисты',
                'Устанавливаем любые дымоходы всех производителей',
            ])
        .promo__img
            .promo__wrapper-img