- 
  let promo = {
      title: "Lorem ipsum dolor sit amet <span>Lorem ipsum</span>",
      items: [
                'Доступные цены',
                'Собственное производство Дымоходов',
                'Выполнение необходимых работ, связанных с установкой камина, печи, котла',
                'Гарантия (от трёх до десяти лет)',
                'Работаем чисто, аккуратно, убираем за собой, не сквернословим',
                'Только русские квалифицированные специалисты',
                'Устанавливаем любые дымоходы всех производителей'
            ]
  }