include ../../components/UI/list/list
include ./promo.data.pug

section.promo 
    h2.promo__title !{promo.title}
    .promo__content
        .promo__list
            +list(promo.items)
        .promo__img-wrapper
            img(src='../../assets/images/chimney.png' width='477' height='459' alt="Дымоход" class="promo__img")