- 
  let socialItems = [
                {name: 'vk', link:'/mock-link', title: 'VK'},
                {name: 'telegram', link:'/mock-link', title: 'Telegram'},
                {name: 'instagram', link:'/mock-link', title: 'Instagram'},
                {name: 'whatsapp', link:'/mock-link', title: 'Whatsapp'}
            ]