-
  let subNavigationCatalog = {
                title: 'Каталог',
                items: [
                    {name: 'Дымоходы', link: 'http://mock-link'},
                    {name: 'Дымососы', link: 'http://mock-link'},
                    {name: 'Печи для дома', link: 'http://mock-link'},
                    {name: 'Печи для бани', link: 'http://mock-link'},
                    {name: 'Камины', link: 'http://mock-link'},
                    {name: 'Силикат кальция', link: 'http://mock-link'},
                    {name: 'Котлы', link: 'http://mock-link'},
                    {name: 'Дымоходы', link: 'http://mock-link'},
                    {name: 'Дымососы', link: 'http://mock-link'},
                    {name: 'Печи для дома', link: 'http://mock-link'},
                    {name: 'Печи для бани', link: 'http://mock-link'},
                    {name: 'Камины', link: 'http://mock-link'},
                    {name: 'Силикат кальция', link: 'http://mock-link'},
                    {name: 'Котлы', link: 'http://mock-link'},
                ]
            }
  let subNavigationInfo = {
            title: 'Информация',
            items: [
                {name: 'Каталог', link: 'http://mock-link'},
                {name: 'Установка и монтаж', link: 'http://mock-link'},
                {name: 'Отзывы', link: 'http://mock-link'},
                {name: 'Ликвидация товара', link: 'http://mock-link'},
                {name: 'Полезное', link: 'http://mock-link'},
                {name: 'Контакты', link: 'http://mock-link'},
                {name: 'Оплата и доставка', link: 'http://mock-link'},
            ]
            }