.header {
  margin: 26px auto 57px;
  height: 97px;
  padding-left: 63px;
  padding-right: 72px;

  &__container {
    max-width: 1785px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 52px;
  }

  &__nav {
    margin-right: 57px;
  }

  &__phone {
    color: $color-navy;
    letter-spacing: 0.08em;
    margin-right: 71px;
    min-width: 162px;

    & span {
      font-weight: 700;
      color: $color-black;
    }
  }

  &__callback {
    min-width: 144px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $color-red;
    border: none;
    border-bottom: 1px dashed #ae2236;
    background: transparent;
    padding: 0;
    cursor: pointer;
    margin-right: 65px;
    font-family: Montserrat, sans-serif;
    height: 30px;
    flex-shrink: 0;
  }

  &__social {
    margin-top: 6px;
    margin-right: 60px;
  }

  &__actions {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  }
}
