.header {
  width: 100%;
  margin: 26px auto 57px;
  height: 97px;

  @media (max-width: $max-tablet-width) {
    margin: 26px auto 45px;
    padding: 0 15px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 16px auto 7px;
    padding: 0 15px;
  }

  &__container {
    max-width: $desktop-width;
    width: 100%;
    margin: 0 auto;
    padding-left: 63px;
    padding-right: 72px;
    display: flex;
    align-items: center;

    @media (max-width: $max-tablet-width) {
      max-width: 738px;
      padding: 0;
      height: 86px;
      align-items: start;
      border-bottom: 1px solid $color-grey-ligth;
    }

    @media (max-width: $max-mobile-width) {
      max-width: 290px;
      padding: 0;
      height: 63px;
    }
  }

  &__logo {
    margin-right: 52px;

    @media (max-width: $max-tablet-width) {
      margin-right: auto;
    }
  }

  &__nav {
    margin-right: 57px;

    @media (max-width: $max-tablet-width) {
      margin-right: 0;
      margin-left: 21px;
      order: 3;
      padding-top: 5px;
    }

    @media (max-width: $max-mobile-width) {
      padding-top: 2px;
    }
  }

  &__phone {
    display: flex;
    flex-wrap: nowrap;

    a {
      color: $color-navy;
      letter-spacing: 0.07em;
      margin-right: 71px;
      min-width: 163px;

      & span {
        font-weight: 700;
        color: $color-black;
      }
    }

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &__callback {
    min-width: 144px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: $color-red;
    border: none;
    border-bottom: 1px dashed #ae2236;
    background: transparent;
    padding: 0;
    cursor: pointer;
    margin-right: 65px;
    font-family: Montserrat, sans-serif;
    height: 30px;
    flex-shrink: 0;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &__social {
    margin-top: 6px;
    margin-right: 60px;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &__actions {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;

    @media (max-width: $max-tablet-width) {
      width: 218px;
      margin-left: 0;
      padding-top: 5px;
    }

    @media (max-width: $max-mobile-width) {
      width: 44px;
      margin-left: 0;
      padding-top: 2px;
    }
  }
}
