.nav {
  width: 752px;
  display: flex;
  align-items: center;

  @media (max-width: $max-tablet-width) {
    width: 56px;
  }

  @media (max-width: $max-mobile-width) {
    width: 44px;
  }

  &__button {
    width: 56px;
    height: 56px;
    background-color: transparent;
    background-image: url('../images/icons/burger_menu.png');
    background-repeat: no-repeat;
    border: none;
    margin-right: 31px;
    cursor: pointer;

    @media (max-width: $max-tablet-width) {
      margin-right: 0;
    }

    @media (max-width: $max-mobile-width) {
      width: 44px;
      height: 44px;
      margin: 0;
      background-size: 44px 44px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &__item {
    margin-right: 37px;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-transform: uppercase;
    color: $color-navy;
  }
}
