-
  let navItems = [
                {link:'/mock-link', name:'Каталог товаров'},
                {link:'/mock-link', name:'Доставка и оплата'},
                {link:'/mock-link', name:'Цены'},
                {link:'/mock-link', name:'Контакты'},
                ]