include ./nav.data.pug

nav.nav
    button.nav__button
    ul.nav__list 
        each item in navItems
            li.nav__item 
                a(href=`${item.link}` title=`${item.name}`).nav__link #{item.name}