- 
  let features = {
      title: 'Почему Дымоход.ру?', 
      description: 'В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»', 
      items: [
          {
            imgName: 'guarantee', 
            alt: 'Гарантия',
            subtitle: 'Большой гарантийный срок', 
            description: `<ul class='features__sublist'><li class='features__subitem'>Крепёж, стыковка элементов – <span>10 лет</span></li> <li class='features__subitem'>Сквозная коррозия труб – <span>5 лет</span></li> <li class='features__subitem'>Гидроизоляция – <span>3 года</span></li></ul>`
          }, 
          {
            imgName: 'architect', 
            alt: 'Помощь',
            subtitle: 'Помощь в покупке агрегата ', 
            description: '(печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом'
          }, 
          {
            imgName: 'review', 
            alt: 'Отзывы',
            subtitle: 'Реальные отзывы клиентов', 
            description: 'Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.'
          }
          ]
  }