include ../../components/footer/subNavigation/subNavigation
include ../../components/footer/subNavigation/subNavigation.data.pug
include ../../components/social/social 

footer.footer
    .container.footer__container
        .footer__nav
            +subNavigation(subNavigationCatalog)
            +subNavigation(subNavigationInfo)
        .footer__contacts
            include ../../components/footer/contacts/contacts 
            +social(true)
