.footer {
  margin: 0 auto;
  background: $color-navy-bright;
  height: 350px;
  padding-top: 88px;
  padding-bottom: 92px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    display: flex;
    width: 772px;
    justify-content: space-between;
  }

  &__contacts {
    margin-top: -2px;

    & .contacts {
      margin-bottom: 28px;
    }

    & .social {
      padding-left: 3px;
    }
  }
}
