.breadcrumbs {
  height: 49px;
  width: 100%;
  border-top: 1px solid $color-grey-ligth;
  border-bottom: 1px solid $color-grey-ligth;
  display: flex;
  align-items: center;

  &__link {
    position: relative;
    font-size: 12px;
    line-height: 15px;
    color: $color-grey;
    margin-right: 20px;
    cursor: pointer;

    &::after {
      position: absolute;
      top: calc(50% - 3.5px);
      right: -15px;
      width: 7px;
      height: 7px;
      content: '';
      background-image: url('../../assets/images/icons/arrow.svg');
      background-repeat: no-repeat;
    }

    &_current {
      color: $color-navy;
      cursor: auto;

      &::after {
        display: none;
      }
    }
  }
}
