include ./breadcrumbs.data.pug

.breadcrumbs 
    each option, index in breadcrumbs
        if breadcrumbs[index].link
            a(href=`${breadcrumbs[index].link}` class=`${index===breadcrumbs.length-1 ? 'breadcrumbs__link breadcrumbs__link_current': 'breadcrumbs__link'}`) #{breadcrumbs[index].name} 
        else 
            span(class=`breadcrumbs__link breadcrumbs__link_current`) #{breadcrumbs[index].name}