- 
  let breadcrumbsVar1 = [
      {name: 'Главная', link: '/'}, 
      {name: 'Монтаж дымоходов'}
      ]
  let breadcrumbsVar2 = [
      {name: 'Главная', link: '/'}, 
      {name: 'Каталог', link: '/mock-link'},
      {name: 'Камины', link: '/mock-link'},
      {name: 'Камины облицовки'}
      ]