mixin breadcrumbs(options)

    .breadcrumbs 
        each option, index in options
            if options[index].link
                a(href=`${options[index].link}` class=`${index===options.length-1 ? 'breadcrumbs__link breadcrumbs__link_current': 'breadcrumbs__link'}`) #{options[index].name} 
            else 
                span(class=`breadcrumbs__link breadcrumbs__link_current`) #{options[index].name}