.breadcrumbs {
  height: 49px;
  width: 100%;
  border-top: 1px solid $color-grey-ligth;
  border-bottom: 1px solid $color-grey-ligth;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__link {
    position: relative;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    color: $color-grey;
    margin-right: 20px;
    cursor: pointer;

    &::after {
      position: absolute;
      top: calc(50% - 3.5px);
      right: -15px;
      width: 7px;
      height: 7px;
      content: '';
      background-image: url('../images/icons/arrow.svg');
      background-repeat: no-repeat;
    }

    &_current {
      color: $color-navy;
      cursor: auto;

      &::after {
        display: none;
      }
    }
  }

  &_desktop {
    padding-bottom: 6px;
    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }

  &_mobile {
    display: none;

    @media (max-width: $max-mobile-width) {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
