.logo {
  width: 100%;
  height: 97px;

  &__img {
    width: 100px;
    height: 97px;

    @media (max-width: $max-tablet-width) {
      width: 64px;
      height: 62px;
    }

    @media (max-width: $max-mobile-width) {
      width: 48px;
      height: 47px;
    }
  }
}
